:root {
  font-family: system-ui, sans-serif;
  font-size: 18px;
  color: #0a112f;
  background-color: #f8f9fa;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  border-bottom: 1px solid #e5e5e5;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0a112f;
}

button,
input {
  font: inherit;
}

em {
  font-style: inherit;
}

a:focus-visible,
button:focus-visible {
  outline: 3px solid #355fe5;
  outline-offset: 2px;
}
