.btn {
  display: inline-block;
  background-color: #355fe5;
  color: #fff;
  padding: 17.5px 22.5px;
  border-radius: 100px;
}

.btn-link {
  transition: scale 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.btn-link:hover {
  scale: 1.035;
}

.btn-link:active {
  translate: 0 0;
}
