.layout-section {
  margin-bottom: 30px;
}

.layout-section:first-child {
  background-color: #edf2f4;
  height: 500px;
}

@media (max-width: 450px) {
  .layout-section:last-child .container {
    padding: 0;
  }
}
