.tabs {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  max-width: 450px;
  margin: 0 auto;
}

.tabs__tab-wrapper {
  margin: 0 auto;
}

.tabs__list {
  display: flex;
  column-gap: clamp(0px, 3.75vw, 30px);
  font-size: clamp(16px, 4vw, 18px);
}

.tabs__tab {
  cursor: pointer;

  font-weight: 500;
  padding: 10px 0;

  border-bottom: 3px solid transparent;

  transition: border-bottom-color 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.tabs__tab:not(.active) {
  border-bottom-color: #0a112f;
}

.tabs__tab.active {
  border-bottom-color: #355fe5;
}

.tabs__content-wrapper {
  position: relative; /* .offsetLeft property for every `tabs__tab-content` will be calculated properly in JS */

  display: grid;
  grid-template-columns: 100% 100% 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  min-height: 200px;
  background-color: #edf2f4;

  border-radius: 15px;
  font-size: clamp(16px, 4vw, 18px);
}

.tabs__tab-content {
  padding: clamp(0px, 3vw, 20px);

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media (max-width: 450px) {
  .tabs__content-wrapper {
    border-radius: 0;
  }
}
