.exchange-wrapper {
  display: flex;
  column-gap: 50px;
}

.exchange-wrapper__select {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.exchange-wrapper__select label {
  font-weight: 600;
}
